/* Hides the funky ics link glitch at the bottom of the page on mobile */
.mppw-ics-link {
  display: none !important;
}

#updateMyInfoContainer.mppw-form-field {
  display: none !important;
}

.mpp-innerpage--back {
  display: none !important;
}

#mapContainer {
  display: none;
}
#map {
  display: none;
}
#mapAddress {
  display: none;
}
.singlePriceContainer {
  display: none;
}

.mppw-product-description {
  font-family: var(--root-font-face);
  color: #60bbe9;
}

#singlePriceContainer {
  display: none;
}
#singlePriceValue {
  display: none;
}
.option-qty {
  display: none;
}
.option-price {
  display: none;
}
.option-name {
  font-family: "sweet-sans-pro", "Noto Sans", Helvetica, sans-serif;
  font-weight: 500;
}
#registrationTotalContainer {
  display: none;
}
.mppw-product-options {
  font-family: "sweet-sans-pro", "Noto Sans", Helvetica, sans-serif;
  color: #111111;
  font-size: 16px;
}

div.mpp-modal-row > label {
  top: 4px !important;
  font-size: 12px !important;

  background: none !important;

  transition: none !important;
}

/*--------------------------------------------*/
/* CSS Color Variables                        */
/*--------------------------------------------*/
:host {
  --form-field-border: #09243f;
  --form-field-border--active: #09243f;
}
