    <div class="header-wrapper">
{% for elements in DataSet1 %}
        {% assign registration_end_date = element.Registration_End | date: "%s" %}
  {% assign today_date = "now" | date: "%s" %}
    <img class="trip-hero" src="{{elements.Link}}" > 
    <div class="overlay">
        <h1 class="trip-name">{{elements.Nickname}}</h2>
        <h2 class="trip-destination">{{elements.Destination_Name}}</h3>
        <h2 class="trip-dates">{{elements.Start_Date}} - {{elements.End_Date}}</h3>
    </div>
    </div>
<div class="description-wrapper">
    <p class="long-description">{{elements.Long_Description}}</p>
    <div class="button-container">
        {% if registration_end_date < today_date or element.Maximum_Registrants == element.Num_Participants or element.Invitation_Only == 1 %}
                                        <div></div>
    {% else %}
        <a class="register-join nectar-button medium regular accent-color regular-button" role="button" href="https://devperimeterorg.kinsta.cloud/global-outreach/go-journey-application/?pledgecampaignid={{elements.Pledge_Campaign_ID}}">Register to Join</a>
            {% endif %}
        <a class="support-journey nectar-button medium regular accent-color regular-button" role="button" href="https://perimeter.onlinegiving.org/donate/form/1385?mp_campaign_id={{elements.Pledge_Campaign_ID}}#!/">Support Journey</a>
    </div>
</div>
        {% endfor %}

<h2 class="participants-header">Meet the Team</h2>
<div class="card-container">
    {% for elements in DataSet2 %}
    <a href="https://devperimeterorg.kinsta.cloud/global-outreach/go-journey-participant/?pledge={{ elements.Pledge_ID }}">
        <div class="card">
            <div class="dark-overlay"></div>
    {% if elements.Photo_URL %}
            <img src="{{elements.Photo_URL}}" alt="Person" style="width:100%">
    {% else %}
            <img src="https://cdn.jsdelivr.net/gh/perimeterchurch/widget-css@07451adc9a3cef9eed03741f87d8e315392a395a/customwidgets/defaultprof.png" alt="Person" style="width:100%">    
    {% endif %}
            <div class="card-info">
              <h3 class="card-title">{{elements.Full_Name}}</p>
            </div>
        </div>
    </a>
     {% endfor %}
</div>
           

<div class="bgColorWrapper">
<div class="details-wrapper">
<div class="disclaimer-wrapper">
    <h3>DONATION DISCLAIMER</h3>
    <p class="disclaimer">Donations are tax-deductible and must be made payable to Perimeter Church, who is training and sending the team and who requests that this be above your regular tithe and offerings to your local church. If I raise more than 100%, the additional funds will be allocated to the team fund, and, after that, used at the discretion of the Global Outreach Ministry Team.</p>
</div>
</div>
</div>
