<div class="filtercontainer">
  <div>
    <div class="keywordcontainer">
      <div>
        <label>Department</label>
      </div>
      <select id="ddlDepartment" class="form-select group-select">
        <option value="">All Departments</option>
        {% for element in DataSet2 %}
          <option value="{{element.Department_ID}}">{{element.Department_Name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="searchcontainer">
      <div>
        <label>Search</label>
      </div>
      <div class="barcontainer">
        <div class="col-10">
          <input type="search" id="txtKeyword" class="form-control" placeholder="Keyword Search">      
        </div>
        <div class="col-2">
          <button type="button" id="btnKeyword" class="btn btn-outline-success">Search</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
 

<div class="card-container">
 {% for element in DataSet1 %}
  <a href="https://devperimeterorg.kinsta.cloud/staff-contact/?eid={{element.Employee_ID}}">
  <div class="card">
   <div class="dark-overlay"></div>
    {% if element.Photo_URL %}
    <img src="{{element.Photo_URL}}" alt="Person" style="width:100%">
    {% else %}
    <img src="https://cdn.jsdelivr.net/gh/perimeterchurch/widget-css@07451adc9a3cef9eed03741f87d8e315392a395a/customwidgets/defaultprof.png" alt="Person" style="width:100%">    
    {% endif %}
    <div class="card-info">
      <h3 class="card-title">{{element.Name}}</h3>
      <p class="card-subtitle">{{element.Job_Title}}</p>
    </div>
  </div>
  </a>
    {% endfor %}
</div>
