<div class="card-container">
 {% for element in DataSet1 %}
  <div class="card">
   <div class="dark-overlay"></div>
     {% if element.Photo_URL %}
    <img src="{{element.Photo_URL}}" alt="Person" style="width:100%">
    {% else %}
    <img src="https://cdn.jsdelivr.net/gh/perimeterchurch/widget-css@07451adc9a3cef9eed03741f87d8e315392a395a/customwidgets/defaultprof.png" alt="Person" style="width:100%">    
    {% endif %}
    <div class="card-info">
      <h3 class="card-title">{{element.Name}}</h3>
      <p class="card-subtitle">{{element.Job_Title}}</p>
    </div>
  </div>
    {% endfor %}
</div>

